<launch>
  <!-- Debug Info -->
  <arg name="sim" default="false" />
  <arg unless="$(arg sim)" name="spur_controller_args" value="" />
  <arg     if="$(arg sim)" name="spur_controller_args" value="--dummy MX-106" />

  <!-- Debug Info -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- load robot_description -->
  <arg name="model" value="$(find spur_description)/urdf/spur.urdf.xacro"  />
  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <!-- Fire up dynamixel -->
  <include file="$(find spur_controller)/launch/spur_dynamixel.launch">
    <arg name="sim" value="$(arg sim)" />
    <arg name="spur_controller_args" value="$(arg spur_controller_args)" />
    <!-- Debug Info -->
    <arg name="debug" value="$(arg debug)" />
    <arg name="launch_prefix" value="$(arg launch_prefix)" />
  </include>

  <!-- Start the Base Controller -->
  <include file="$(find spur_controller)/launch/base_controller.launch" />

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
        type="robot_state_publisher"
        respawn="false" output="screen">
    <remap from="/joint_states" to="/spur/joint_states" />
  </node>

</launch>
