<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/${ns}</robotNamespace>
    </plugin>
  </gazebo>

  <xacro:macro name="gazebo_link" params="name color">
    <gazebo reference="${name}">
      <material>Gazebo/${color}</material>
      <mu1 value="1.0" />
      <mu2 value="1.0" />
      <kp value="10000000.0" />
      <kd value="1.0" />
    </gazebo>
  </xacro:macro>

  <xacro:macro name="simple_transmission" params="name" >
    <transmission name="${name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${name}_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

</robot>
