<launch>
  <arg name="map_static" default="false" />

  <group if="$(arg map_static)">
    <!-- Run the map server with a pre-recorded map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find turtlebot_navigation)/maps/willow-2010-02-18-0.10.pgm"/>
  </group>

  <!-- Run the map server to load an existing map file -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find my_map_package)/my_map.pgm my_map_resolution" /> -->
 
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find spur_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find spur_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find spur_2dnav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find spur_2dnav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find spur_2dnav)/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
