<launch>
  <arg name="sec_idle" default="1.0" />

  <!-- Debug Info -->
  <arg name="sim" default="false" />
  <arg unless="$(arg sim)" name="spur_controller_args" default="" />
  <arg     if="$(arg sim)" name="spur_controller_args" default="--dummy MX-106" />

  <!-- Debug Info -->
  <arg name="debug" default="false" />

  <!-- Base controller, hardware -->
  <include file="$(find spur_controller)/launch/spur_controller.launch">
    <arg name="sec_idle" value="$(arg sec_idle)" />
    <arg name="sim" value="$(arg sim)" />
    <arg name="spur_controller_args" default="$(arg spur_controller_args)" />
    <arg name="debug" value="false" />
  </include>

  <group unless="$(arg sim)" >
    <node name="urg" pkg="urg_node" type="urg_node">
      <remap from="/scan" to="/spur/laser/scan" />
    </node>
  </group>
</launch>
